

{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header --}}
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <div class="featured-post-tab">
        {{#get "posts" filter="featured:true" limit="1" as |featured|}}
            <section class="featured-posts">
                {{#foreach featured}}
                    <img class="featured_stub" src="{{@blog.url}}/assets/imgs/featured_stub.png" />
                    <p class="ftxt-fp">Featured post:&nbsp</p>
                    <p class="ftxt-name"><a href="{{url}}">{{title}}</a></p>
                {{/foreach}}
            </section>
        {{else}}
            <p class="ftxt-name">No featured posts...</p>
        {{/get}}
    </div>
    
    <nav class="main-nav overlay clearfix">
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"><span class="menutext" >Menu</span></a>
        {{/if}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner"> 
        </div>
    </div>
    
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="45"><span class="hidden">Scroll Down</span></a>
</header>

<!--------------------FRONT PAGE BODY---------------------->

<body class="{{body_class}}">
	<main class="content" role="main">
                    
<!------------ UNCOMMENT TO DISPLAY PAGE TITLE ------------------>
<!--            <h1 class="page-title">{{@blog.title}}</h1>-->
<!------------ UNCOMMENT TO DISPLAY PAGE TITLE ------------------>
        
        {{#if @blog.logo}}<a href="{{@blog.url}}"><img class="sitemainlogo" src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        {{! Each post will be output using this markup }}
        {{#foreach posts}}
        {{#if image}}
            <article class="{{post_class}}">
                <header class="post-header">
                    <div class="post-top-image">
                        <img class = "post-top-img" src="{{image}}" />
                    </div>
                </header>
                <div class="post-text-holder">
                    <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
                    <span class="post-meta-time">
		               <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
	                </span>
                    <section class="post-excerpt">
                        <p>{{excerpt}}&hellip; <a class="read-more" href="{{url}}">&raquo;</a></p>
                    </section>
                    <span class="post-meta">
		              {{tags prefix="Tags: " separator="  "}}
<!--		              <br><a href="{{url}}#disqus_thread">Comments</a>-->
	                </span>
                </div>
                <footer class="post-footer">
                    <div class="author">
                        {{#author}}
                            {{#if image}}
                                <div class="auth-image-holder"><img class="auth-image" src="{{image}}"/></div>
                        {{/if}}
                        <p><a href="{{url}}">{{name}}</a>,<br />{{bio}}</p>
                        {{/author}}
                    </div>
                    <section class="share">
                        <h2>Share this post</h2>
                        <a class="icon-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                            <span class="hidden">Twitter</span>
                        </a>
                        <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                            <span class="hidden">Facebook</span>
                        </a>
                        <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                            <span class="hidden">Google+</span>
                        </a>
                    </section>
                </footer>
            </article>
        {{else}}
            <article class="{{post_class}}">
                <div class="post-text-holder">
                    <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
                    <span class="post-meta-time">
		            <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
	                </span>
                    <section class="post-excerpt">
                        <p>{{excerpt}}&hellip; <a class="read-more" href="{{url}}">&raquo;</a></p>
                    </section>
                    <span class="post-meta">
		              {{tags prefix="Tags: " separator="  "}}
<!--		              <br><a href="{{url}}#disqus_thread">Comments</a>-->
	                </span>
                </div>
                <footer class="post-footer">
                    <div class="author">
                        {{#author}}
                        {{#if image}}
                            <div class="auth-image-holder"><img class="auth-image" src="{{image}}"/></div>
                        {{/if}}
                            <p><a href="{{url}}">{{name}}</a>, <br />{{bio}}</p>
                        {{/author}}
                    </div>
                    <section class="share">
                        <h2>Share this post</h2>
                        <a class="icon-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                            <span class="hidden">Twitter</span>
                        </a>
                        <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                            <span class="hidden">Facebook</span>
                        </a>
                        <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                        onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                            <span class="hidden">Google+</span>
                        </a>
                    </section>
                </footer>
            </article>
        {{/if}}
        {{/foreach}}
    {{!! After all the posts, we have the previous/next pagination links }}
    <main id="content" class="content" role="main"></main>
    {{pagination}}
        {{#if @blog.description}}
        <p class="site-desc"><img src="{{@blog.url}}/assets/imgs/desc.png" />{{@blog.description}}</p>
        {{/if}}
{{!-- The tiny footer at the very bottom --}}
        <footer class="site-footer clearfix">
            <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
        </footer>
    </main>
</body>


