{{!< default}}

{{!-- The comment above "< default" means - insert everything in this file into
    the {{{body}}} of the default.hbs template, containing the blog header/footer. --}}

{{!-- Everything inside the #post tags pulls data from the post --}}


<header class="main-header-post {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <div class="featured-post-tab">
        {{#get "posts" filter="featured:true" limit="1" as |featured|}}
            <section class="featured-posts">
                {{#foreach featured}}
                    <img class="featured_stub" src="{{@blog.url}}/assets/imgs/featured_stub.png" />
                    <p class="ftxt-fp">Featured post:&nbsp</p>
                    <p class="ftxt-name"><a href="{{url}}">{{title}}</a></p>
                {{/foreach}}
            </section>
        {{else}}
            <p class="ftxt-name">No featured posts...</p>
        {{/get}}
    </div>
    <nav class="main-nav overlay clearfix">
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"><span class="menutext">Menu</span></a>
        {{/if}}
    </nav>
    <div class="vertical">
        <div class="main-header-content innerp">
        
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="45"><span class="hidden">Scroll Down</span></a>
</header>

<main class="content-main-page" role="main">
    <div class="whole-page-holder">
<!------------ UNCOMMENT TO DISPLAY PAGE TITLE ------------------>
<!--            <h1 class="page-title-wide">{{@blog.title}}</h1>-->
<!------------ UNCOMMENT TO DISPLAY PAGE TITLE ------------------>
        {{#if @blog.logo}}<a href="{{@blog.url}}"><img class="sitemainlogop" src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        <article class="postp">
    {{! Everything inside the #post tags pulls data from the post }}
            {{#post}}

                <h1 class="post-title">{{{title}}}</h1>
                <span class="post-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time> </span>
                <section class="post-content">
                    {{content}}
                </section>
                <span class="post-meta">
                    {{tags prefix="Tags: " separator="  "}}
                </span>
                <footer class="post-footerp">
                    <div class="author">
                        {{#author}}
                        {{#if image}}
                            <div class="auth-image-holder"><img class="auth-image" src="{{image}}"/></div>
                        {{/if}}
                        <p><a href="{{url}}">{{name}}</a>, <br />{{bio}}</p>
                        {{/author}}
                    </div>
<!--------- Where page scrolls to when arrow is clicked ------------>            
                <main id="content" class="content" role="main">
                </main>
<!--------- Where page scrolls to when arrow is clicked ------------>  
                    <section class="share">
                        <h2>Share this post</h2>
                        <a class="icon-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                            <span class="hidden">Twitter</span>
                        </a>
                        <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                            <span class="hidden">Facebook</span>
                        </a>
                        <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                        onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                            <span class="hidden">Google+</span>
                        </a>
                    </section>

                </footer>

            <div id="disqus_thread"></div>
                <script type="text/javascript">
                    var disqus_shortname = 'moin-programming';
                    var disqus_identifier = 'ghost-{{id}}';
                      (function() {var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                      })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            {{/post}}

        </article>
    </div>
   {{!-- The tiny footer at the very bottom --}}
        
</main>
{{#if @blog.description}}
        <p class="site-desc"><img src="{{@blog.url}}/assets/imgs/desc.png" />{{@blog.description}}</p>
        {{/if}}
<footer class="site-footer clearfix">
            <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
        </footer>

